body {
  background-color: #430f58;
}

h1 {
  color: white;
  font-family: "Permanent Marker", cursive;
  font-size: 80px;
}

h3 {
  font-family: "Comfortaa", cursive;
  font-size: 35px;
  color: white;
}

h5 {
  font-family: "Comfortaa", cursive;
  color: black;
  text-decoration: bold;
  font-size: 24px;
}
hr {
  border: 3px solid white;
  width: 500px;
  display: block;
  margin: 0 auto;

  transform: skew(100deg);
}
.hero {
  display: block;
  text-align: center;
  margin: 30px;
  background-color: s#430f58;
  opacity: 50%;
  padding: 20px;
  border-radius: 30px;
}

.rounded-container {
  color: black;
  border-radius: 50%;
  background-color: plum;
  padding: 20px;
  width: 400px;
  height: 400px;
  text-align: center;
  display: inline;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 20px;
  border: solid 2px #9e85ac;
}

.rounded-container-3 {
  color: black;
  border-radius: 50%;
  background-color: plum;
  padding: 20px;
  width: 400px;
  height: 400px;
  text-align: center;
  display: inline;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 20px;
  border: solid 2px #9e85ac;
}

#navbar {
  font-family: "Comfortaa", cursive;
  background-color: #defcf9;
}

.navbar-brand {
  font-family: "Permanent Marker", cursive;
  font-size: 30px;
  font-weight: normal;
}

.phylly {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  opacity: 80%;
}

.project-images {
  border-radius: 45%;
  height: 220px;
  width: 280px;
}

.world-clock-para {
  font-size: 14px;
}

.project-para {
  color: white;
  font-size: 16px;
  font-family: "Comfortaa", cursive;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
